:root {
  --black: #1f2228;
  --gray: #37393e;
  --red: #ef4444;
  --white-bg: #fbfaff;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/Inter.ttf") format("truetype");
  font-weight: 100 900; 
  font-style: normal; /* O también puede ser: normal italic si soporta ambos */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  background-color: var(--white-bg);
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.score-card {
  width: 620px;
  height: 240px;
  border-radius: 12px;
  background-color: var(--black);
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.score-top {
  justify-content: space-between;
  background-color: var(--gray);
  padding: 8px 24px;
  align-items: center;
  height: 40px;
}

.score-time {
  gap: 24px;
}

.period {
  font-size: 14px;
  font-weight: 600;
}

.time {
  font-size: 14px;
  font-weight: 600;
}

.live-indicator {
  color: var(--red);
  font-size: 14px;
  font-weight: 600;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}

.live-indicator span {
  display: inline-block;
  margin-left: 4px;
  animation: pulse 1.5s ease-in-out infinite;
}

.score-main {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: 200px;
}

.team {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.team > img {
  width: 96px;
}

.team-name {
  font-size: 18px;
  font-weight: 600;
}

.score-number {
  font-size: 36px;
  width: 64px;
  height: 64px;
  background-color: var(--gray);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colon {
  font-size: 36px;
}
